{% extends 'base.html' %}

{% block title %}
ReleCloud - Destinations
{% endblock %}

{% block content %}
<h1>Cruise destinations</h1>
<p>
If you can imagine it, we travel to it! Below is our list of confirmed destinations.
</p>
<ul class="list-group">
    {% for destination in destinations %}
    <a class="list-group-item list-group-item-action d-flex align-items-center" href="{% url 'destination_detail' destination.id %}">
        {% if destination.image %}
            <img src="{{ destination.image.url }}" alt="{{ destination.name }}" class="img-thumbnail me-3" style="width: 80px; height: 80px; object-fit: cover;">
        {% else %}
            <div class="bg-secondary text-white d-flex align-items-center justify-content-center me-3" style="width: 80px; height: 80px;">
                <span>Sin imagen</span>
            </div>
        {% endif %}
        <span>{{ destination }}</span>
    </a>
    {% endfor %}
</ul>
{% endblock content %}